$col_base: #41B883;
$co_key: #00BCD4;
$col_bg: #ffffff;
$col_font: #35495E;

$width_pc: 1200px;

body{
    font-family: "Hiragino Kaku Gothic","メイリオ", sans-serif;
    font-size: 100%;
}

a{
    text-decoration: none;
    p &,&:hover{
        text-decoration: underline;
    }
}
.contents-inner{
    max-width: $width_pc;
    margin: auto;
    .article &{
        padding: 120px 0;
    }
}

@mixin flex_items-center{
    display: flex;
    align-items: center;
}

$header_height: 50px;

.header{
    background: $col_bg;
    position: fixed;
    box-shadow: 0 2px 9px rgba(0,0,0,.15);
    width: 100vw;
    z-index: 999;
    &_inner{
        @include flex_items-center;
        justify-content: space-between;
        height: $header_height;
    }
    &_logo-block{
        @include flex_items-center;
        &_ico{
            margin-right: 24px;
            width: 30px;
        }
        img{
            width: 100%;
        }
    }
    &_txt-link{
        a{
            font-weight: bold;
            color: black;
            font-size: 18px;
            line-height: 1;
        }
        &_ico{
            width: 8px;
            margin-right: 8px;
        }
    }
}

.contents{
    padding-top: $header_height ;
    z-index: 1;
    position: relative;
}

.main-visual{
    z-index: 1;
    &_inner{
        @include flex_items-center;
        justify-content: space-between;
        flex-flow: column;
        text-align: center;
        border-bottom: 1px solid #D8D8D8;
        padding: 12vh 0;
    }
    &_main-title{
        margin: 0;
        font-size: 3.8em;
        font-weight: 600;
        color: $col_base;
    }
    &_sub-title{
        margin: 4vh 0 6vh;
        color: $col_font;
        font-weight: 600;
        font-size: 2em;

    }
    &_img-wrap{
        height: 40vh;
        margin: 0;
        img{
            height: 100%;
        }
    }
}

.lesson{
    &_inner{
        text-align: center;
    }
    &_img-wrap{
        width: 665px;
        height: 370px;
        background-size: cover;
        margin: auto;
    }
}