-
  var list = [
    {
      num: 1,
      date: '11/11/11',
      img: '01.jpg',
      slug: '01',
    },
    {
      num: 2,
      date: '22/22/22',
      slug: '02',
    },
    {
      num: 3,
      date: '33/33/33',
      slug: '03',
    },
  ]
  var site_title =　'テストサイト'
  var site_url = 'http://vue.ayaoriko.com/'