include _mixin.pug
include _config.pug

-
  var page_title =　'テストページ'
  var page_desc = 'ページ詳細'


<!DOCTYPE html>
html(lang="ja")
  +head(page_title,page_desc)
  body
    +header()
    main.contents
      section.main-visual
        div.main-visual_inner.contents-inner
          h1.main-visual_main-title Vue.js Practice Site
          p.main-visual_sub-title
            | ayaoriko テストサイト
          figure.main-visual_img-wrap
            img(src="img/logo.png")
      article.article
        section.lesson
          div.lesson_inner.contents-inner
            div.lesson_sub-title Lesson 1
            h2.lesson_title Contact Form
            p.lesson_detail UIの基礎となる<br class="pc">お問い合わせフォームをつくりました。
            figure.lesson_img-wrap(style='background-image: url(img/lesson_image.jpg);')
              im
            div.button_wrap
              a.button_base(href="#") ページを見る
    +footer('ayaoriko')
    script(src="js/index.js")